/* style css */
body {
    font-family: Arial, sans-serif;
  }
  header {
    background-color: #91298d;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
  }
  footer {
    background-color: #c03192;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
  }